<form action="/" method="get">
    <button type="submit"> Página Inicial</button>
</form>

<form action="/songs" method="get">
    <button type="submit"> Listar músicas </button>
</form>

<form action="/new-song" method="get">
    <button type="submit"> Adicionar músicas</button>
</form> 

<form action="/price" method="get">
    <button type="submit"> Gerir preço por like </button>
</form> 