<form action="/" method="get">
    <button type="submit"> Pagina Inicial</button>
</form>

<form action="/songs" method="get">
    <button type="submit"> Listar músicas </button>
</form>

<form action="/contactos" method="get">
    <button type="submit"> Adicionar músicas</button>

<form action="/contactos" method="get">
    <button type="submit"> Gerir preço por like </button>
</form> 