<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("partials/header") %>

    <h1> Página inicial </h1>
    <h4>Esta é uma página  inicial da aplicação PSIFY</h4>
    <h4>Utilize o menu acima para navegar pelas diferentes funcionalidades da aplicação</h4>
    <h4>Obter uma musica</h4>
    <div class="container">
        <label for="idMusica">ID da música:</label>
        <input type="text" id="idMusica">
        <button>Obter</button>
    </div>
    
</body>
</html>