<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>
<body>
    <%- include("partials/header") %>


    <h1>Criar nova música</h1>
    <form id="new-form">
        <label for="title">Titulo</label>
        <input type="text" id="title" name="title" placeholder="Insira o titulo da sua música">
        <br><br>
        <label for="artist">Artista</label>
        <input type="text" id="artist" name="artist" placeholder="Insira o nome do artista">
        <br><br>
        <label for="album">album</label>
        <input type="text" id="album" name="album"  placeholder="Insira o nome do album">
        <br><br>
        <label for="genre">Género</label>
        <input type="text" id="genre" name="genre" placeholder="Insira o tipo Género musical">
        <br><br>
        <label for="duration_seconds">Duração(Segundos)</label>
        <input type="text" id="duration_seconds" name="duration_seconds"  placeholder="Coloque a quantidadede de Segundos">
        <br><br>
        <label for="release_date">Data de lançamento</label>
        <input type="date" name="release_date" id="release_date">
        <br><br>
        <label for="likes">Nº de likes</label>
        <input type="number" id="likes" name="likes"  placeholder="Digite a quantidadede de likes">
        <br><br>
        <button type="submit">Adicionar Música</button>
    </form>

    <script>
        
document.getElementById('new-form').addEventListener('submit', function(event) {
  event.preventDefault();

  const formData = new FormData(event.target);
  const data = Object.fromEntries(formData.entries());

  axios.post(`/api/songs`, data)
  .then(response => {
      console.log('Success:', response.data);
      location.reload();
      // Handle success (e.g., show a success message, redirect, etc.)
  })
  .catch((error) => {
      console.error('Error:', error);
      // Handle error (e.g., show an error message)
  });
});
    </script>

</body>
</html>