<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("partials/header") %>
    <h1> Editar preço por like: </h1>
    <div class="container">
        <label for="like">Preço por like:</label>
        <input type="text" id="like">
        <button>Atualizar</button>
    </div>
</body>
</html>